html,  body {
    font-size: 16px;
}

.hide {
    display: none !important;
}

#searchSpan input {
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #5897fb;
    padding: 0px 5px;
    height: 30px;
    border-radius: 6px;
 }

 #searchSpan input::placeholder {
    color: #bbb;
 }

.search-input-0-border-radius {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom: 1px solid #969595 !important;
}

#itemsSpan ul {
    box-sizing: border-box;
    list-style: none;
    border: 2px solid #007AFF;
    border-top: none;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 250px;
    border-radius: 6px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#itemsSpan ul li {
    padding: 2px 5px;
    border-bottom: 1px solid #ececec;
}

#itemsSpan ul li:hover {
    background-color:#5AC8FA;
    color: white;
}

input:focus {
    outline: none;
    border: 2px solid #007AFF !important;
}