@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700');

html,  body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.hide {
    display: none !important;
}

.search-input {
    width: 300px;
    border: 2px solid #5897fb;
    min-height: 37px;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 0px 5px;
}

.multiInput {
    border: none;
    font-size: 12px;
    display: inline-block;
    width: 70px;
}

.multiInput:focus {
    border: none !important;
}

 .searchSpan input::placeholder {
    color: #bbb;
 }

.search-input-0-border-radius {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom: 1px solid #969595 !important;
}

#itemsSpan ul {
    box-sizing: border-box;
    list-style: none;
    border: 2px solid #007AFF;
    border-top: none;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 300px;
    border-radius: 6px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#itemsSpan ul li {
    padding: 5px 5px;
    border-bottom: 1px solid #ececec;
    font-size: 13px;
}

#itemsSpan ul li:hover {
    background-color:#5AC8FA !important;
    color: white !important;
}

input:focus {
    outline: none;
    border: 2px solid #007AFF !important;
}

.mt-50 {
    margin-top: 50px;
}

.chip {
    display: inline-block;
    line-height: 20px;
    box-sizing: border-box;
    margin: 6px 0px;
    background: #e0e0e0;
    padding: 0 10px;
    border-radius: 32px;
    font-size: 10px;
}

.chip:hover {
    background: #ccc;
}

.closeBtn {
    padding-left: 8px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 16px;
    cursor: pointer;
}

.closeBtn:hover {
    color: #000;
}